*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contain
{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1250px;
    height: 800px;
}

.thumb
{
    width: calc(250px - 8px);
    height: 450px;
    margin-bottom: 8px;
    background-color: lightgray;
}

.thumb .img_cont
{
    padding: 8px;
}

.thumb .img_cont img 
{
    width: 100%;
} 

.text_cont
{
    padding: 8px;
    text-align: center;
}